.containerMAX {
  display: flex;
  overflow: hidden;
}

.container {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  scroll-snap-align: start;
  scroll-snap-type: x mandatory; 
  overflow-x: auto; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.container::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100vw; 
  height: 100vh; 
  flex-shrink: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; 
}

.card {
  width: 90%;
  max-width: 1000px;
  height: 75vh;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  margin-top: -10vh;
  position: relative;
}

.imageSection {
  width: 40%;
  position: relative;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.imageSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay svg {
  width: 100%;
  height: 100%;
  fill: #FF0066;
}

.infoSection {
  width: 60%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
}

.infoSection h2 {
  color: #ffb9e2;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.infoSection p {
  color: #FCE9F1;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.infoSection p:last-child {
  margin-bottom: 0;
}

.infoSection u {
  font-family: 'biryani', sans-serif;
  font-weight: 1000;
}

.hobbiesTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffb9e2;
  margin-bottom: 10px;
}

.hobbiesList {
  color: #FCE9F1;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hobbiesList li {
  flex: 1 1 45%; 
  margin: 10px 0;
  font-family: 'Biryani', sans-serif;
  font-size: 17pt;
}

.icon {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.skillsSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
