@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.slideIn {
  animation: slideIn 0.5s forwards;
}

.slideOut {
  animation: slideOut 0.5s forwards;
}

.slider {
  position: relative;
  width: 960px;
  height: 300px;
  margin: 50px auto;
  background-color: #FCE9F1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.slideContent {
  text-align: left;
  color: #000;
  margin-left: 0;
  flex: 1;
}

.slideTitle {
  margin-bottom: 35px;
  font-size: 24px;
  font-family: 'biryani', sans-serif;
  font-weight: bolder;
}

.slideDescription {
  margin-bottom: 50px;
  font-family: 'alegreya', sans-serif;
}

.slideButton {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #000;
  cursor: pointer;
  margin-bottom: 45px;
}

.slideImage img {
  max-height: 250px;
  max-width: 300px;
  height: auto;
}

.slideImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
}

.sliderControls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.controlDot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}

.controlDot.active {
  background-color: #588F99;
}
