.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: -15vh;
  transform: translateY(-50%);
  padding: 10px;
  z-index: 3;
  }
  
  .icon {
    margin: 20px 0; 
    cursor: pointer; 
  }
  