.container {
    position: absolute;
    top: 20vh;
    left: 33%;
    transform: translateX(-50%);
    text-align: left;
    align-self: start;
    width: 600px;
    height: 400px;
  }
  

  
.title {
    font-size: 2.5rem;
    color: #73BBC9;
    /* color: #FCE9F1;  */
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif; 
}
  
.description {
    font-size: 1.25rem;
    color: #f1cae1;
    text-align: left;
    max-width: 600px;
    line-height: 1.5;
    font-family: 'Alegreya Sans', sans-serif;
}

.button {
    background-color: #73BBC9;
    color: #192655;
    padding: 10px 20px;
    border-radius: 45px;
    font-size: 1.25rem;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-family: 'Biryani', sans-serif;
}

.button:hover {
    background-color: #F1D4E5;
    color: black;
}

.cat {
    position: absolute;
    bottom: 10%;
    right: 15vw;
    height: 170px;
    width: 192.1px;
}