.container {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    align-self: start;
    width: 600px; /* Ancho fijo */
    height: 400px; /* Alto fijo */
  }
  
  
  
.title {
    font-size: 2.5rem;
    color: #F3F0CA;
    margin-bottom: 20px;
}
  
.description {
    font-size: 1.25rem;
    color: #E1AA74;
    text-align: left;
    max-width: 600px;
    line-height: 1.5;
}

.button {
    background-color: #3876BF;
    color: #192655;
    padding: 10px 20px;
    border-radius: 45px;
    font-size: 1.25rem;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #E1AA74;
    color: #192655;
}

.cat {
    position: absolute;
    bottom: 50%;
    right: 25vw;
    height: 170px;
    width: 192.1px;
}